<ul *ngIf="users">
  <li
    *ngFor="let user of users"
    (click)="selectUser(user.id)"
    [ngClass]="{'selected': user.id === currentUserId}"
  >{{ user.name }} <span *ngIf="showUsername">({{ user.username }})</span></li>
  <div *ngIf="accessType === 'admin'" class="actions">
    <input
      type="checkbox"
      id="show-username"
      (change)="checkChange($event.target.checked)"
      [checked]="showUsername"
    >
    <label i18n for="show-username">Show username</label>
    <button i18n (click)="addUser()" class="btn">Add new</button>
    <button i18n (click)="deleteUser()" class="btn" [disabled]="!currentUserId">Delete</button>
  </div>
</ul>

<div
  i18n
  *ngIf="error"
  class="error-section"
>
  An error occurred: <span>{{ error }}</span> <br>
  Try reload the page.
</div>
