<div class="page-title">Dashboard</div>
<div class="card">

  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li [ngbNavItem]="1">
      <a ngbNavLink>Users</a>
      <ng-template ngbNavContent>
        <highcharts-chart *ngIf="chartOptions"
          [Highcharts]="Highcharts"
          [options]="chartOptions"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Shops</a>
      <ng-template ngbNavContent>
        <p>Shops chart</p>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
