<div *ngIf="!editProduct.id" class="page-title">
  <p>Add New Product</p>
</div>
<div *ngIf="editProduct.id" class="page-title">
  <p>Edit Product</p>
</div>

<form class="modal-form" (ngSubmit)="submit()" [formGroup]="form">

  <label for="name">
    Product Name
    <span *ngIf="name.invalid && name.touched">
      <span *ngIf="name.errors.required">
        This field is required
      </span>
      <span *ngIf="name.errors.minlength">
        Minimum length is {{ minProductNameLength }} characters, actual: {{ name.errors.minlength.actualLength }}
      </span>
    </span>
  </label>
  <input id="name" formControlName="name" type="text" placeholder="Product Name...">

  <label for="description">Description</label>
  <input id="description" formControlName="description" type="text" placeholder="Description...">

  <label for="price">
    Price
    <span *ngIf="price.invalid && price.touched">
      <span *ngIf="price.errors.required">
        This field is required
      </span>
      <span *ngIf="price.errors.pattern">
        Price should contain only digits
      </span>
    </span>
  </label>
  <input id="price" formControlName="price" type="text" placeholder="Price...">

  <div class="controls">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancel()" ngbAutofocus class="btn btn-danger">Cancel</button>
  </div>
</form>

<div *ngIf="error" class="error-section">Error occurred: <span>{{ error }}</span> Try reload the page.</div>
