form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;

  span {
    color: red;
    margin-left: 20px;
    font-size: small;
  }

  .title {
    font-weight: bold;
    text-align: center;
  }

  label {
    margin-top: 10px;
  }

  input, select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .input-field {
    border: 1px solid black;
  }

  .controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
