<div *ngIf="alert" class="alert-section">
  <ngb-alert [dismissible]="false" type="success">{{ alert }}</ngb-alert>
</div>

<div class="page-title">{{ selectedUser.name }}'s Purchases</div>

<div class="actions">
  <button (click)="onAddNewPurchase()" class="btn btn-primary">Add new purchase</button>
  <button (click)="back()" class="btn btn-primary">Back to users list</button>
</div>

<div class="content-container">

  <div *ngIf="!purchases?.length">This user didn't make any purchases yet.</div>

  <div *ngIf="purchases?.length" class="purchases-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date of purchase</th>
          <th scope="col">Shop</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ purchase.date }}</td>
          <td>{{ purchase.location }}</td>
          <td>
            <button (click)="onShowPurchaseDetails(purchaseDetails, purchase)" class="btn btn-primary">Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<ng-template #purchaseDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Purchase was made on {{ date }} at {{ location }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name of product</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of purchasedProducts; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="closeModal()">Close</button>
  </div>
</ng-template>
