<ul *ngIf="users$ | async as users">
  <li
    *ngFor="let user of users"
    (click)="setCurrentUser(user.id)"
    [ngClass]="{'selected': user.id === (currentUserId$ | async)}"
  >{{ user.name }} <span *ngIf="showUsername$ | async">({{ user.username }})</span></li>
  <div class="actions">
    <input
      type="checkbox"
      id="show-username"
      (change)="checkChange($event.target.checked)"
      [checked]="showUsername$ | async"
    >
    <label for="show-username">Show username</label>
    <button (click)="addUser()" class="btn">Add new</button>
    <button (click)="deleteUser()" class="btn">Delete</button>
  </div>
</ul>

<div *ngIf="error$ | async as error" class="error-section">
  An error occurred: <span>{{ error }}</span> <br>
  Try reload the page.
</div>
